*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head-container{
    background-image: url(images/carousel-cycling.jpg);
    background: cover;
    background-position: center;
    height: 500px;
    font-family: sans-serif;
}
.menu-bar{
    background: black;
    text-align: start;
    height: 80px;
}
.menu-bar div{
    height: 100px;
    float: left;
}
.logo img{
    width: 150px;
    height: 60px;
    margin: 10px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 80px;
    margin: 15PX;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.menu-bar ul li:hover
{
    background: blue;
    border-radius: 1px;
    height: 50px;
}


.menu-bar ul li:hover .sub-menu>.menu-bar ul li:hover .sub-menu .search{
    background: none;
}
.search{
    width: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
.menu-bar div>.search-box{
    height: 40px;
}
.search-box{
    float: left;
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.input-box{
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s all;
    width: 50px;
}

.search-box:hover .input-box{
    width: 240px;
    padding: 0 6px;
}
.menu-bar ul li:hover>li .search{
    background: transparent;
}
.head-container{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 30%;
    color: #fff;
    padding: 20px;
    left: 15%;
    color: red;
    text-decoration-color: black;
    text-shadow: 2px #ff0000;
    font-size: 24px;
    font-weight: bold;
}

/*main*/
.image-conatiner{
    height: 100%;
    width: 100%;
}
.image-conatiner div{
    height: 300px;
    padding: 0px;
    display: flex;
}
.bottom-image-container{
    width: 100%;
    display: inline;

}
.left-image-container{
    width: 25%;
    padding: 10px;
    margin: 10px;
}
.img-1{
    background-image: url(images/carousel-climbing.jpg);
}
.img-2{
    background-image: url(images/carousel-climbing.jpg);
}
.img-3{
    background-image: url(images/carousel-climbing.jpg);
}
.img-4{
    background-image: url(images/carousel-climbing.jpg);
}
div>.content{
    display: block;
    width: 70%;
    height: 70%;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: transparent;
    color: white;
}
.content h1{
    font-size: 20px 0;
    font-weight: lighter;
}
.content p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}
.content a{
    text-decoration: none;
    padding: 10px ;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: white;
}

@media(max-width: 767px) {
    .bottom-image-container{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574){
    .bottom-image-container{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*section*/
.container{
    background: white;
    text-align: justify;
}
.container .row{
    display: inline-flex;
    color: rgb(20, 16, 16);
    text-align: justify;
}


.col-one{
    width: 30%;
    padding: 10px;
    float: left;
    margin-left: 15px;
    height: 100%;
}
div>.thumbnail{
    display: block;
    width: 90%;
    height: 70%;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: white;
}

.thumbnail img{
    width: 100%;
}
.btn-1{
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: #008CBA;
}
@media(max-width: 767px) {
    .col-one{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574){
    .col-one{
        width: 100%;
        margin-bottom: 30px;
    }
}







/*footer*/
*
.footer{
    background-color: #24262b;
    padding: 20px 0;
}
.footer-conatiner{
    max-width: 1000px;
    margin: auto;
}
.footer-conatiner ul{
    list-style: none;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 33.333%;
}
.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.container-1{
    margin: 50px;
    color: #ffffff;
}
.row{
    text-align: center;
}
@media(max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}
